

img {
	max-width:28%;
	height:auto;
	border-top-left-radius: 50%;
	border-bottom-right-radius:50%;
	margin-top:0px;
	padding-top:0px;
	border: 5px solid;


}

h1 {
	color:#4C443C;
	font-family: 'Oswald', sans-serif;
	font-size: 250%;
	text-align: right;
	padding-right: 5%;	
	
}
h2 {
	color:#322214;
	font-family: 'Staatliches', cursive;
	font-size: 175%;
	text-align: right;
	padding-right:5%;
}

h3 {
	color:#636564;
	font-family: 'Oswald', sans-serif;
	font-size: 125%;
	margin-bottom:0px;

}

h4 {
	color:#322214;
	font-family: 'Oswald', sans-serif;
	margin-top:0px;

}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 90%;
}

ul {
	font-family: 'Roboto Slab', serif;
	font-size: 90%;
}

hr {
	 border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

body {
	background-color:#A1B5C7;
	background-image: url('tim-martin-402257-unsplash.jpg');
	background-repeat: no-repeat;
  	background-position: right top;
  	background-attachment: fixed;
  	background-size: 100%;

	margin-left:20%;
	margin-right:20%;
	padding-left:5%;
	padding-right:5%;
	border: 3px double;
}


.detail {
	  font-family: sans-serif;
	  margin: auto;


}

.section {
	/*background-image: url('annie-spratt-695482-unsplash.jpg');*/
	background-color:#C2C1CE;
	background-size:175%;
	padding-left:5%;
	padding-right:5%;
	border: 1px solid;


}

